@import '../../../styles/variables.scss';

.container {
    margin-left: 30px;
}

.query {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container {
        margin-left: 0;
    }
}
