@import '../../../styles/variables.scss';

.container {
    margin-left: 30px;
}

.query {
    font-weight: bold;
}

@media screen and (min-width: 601px) {
    .container {
        max-width: 500px;
    }
}
