.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@import '../../../styles/variables.scss';

.label {
    font-size: $inputFontSize;
    margin-right: 20px;
}

.input {
    height: $inputHeight;
    width: 300px;
    font-size: $inputFontSize;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
}
