@import '../../../styles/variables.scss';

.container {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   padding-top:30px;
   height: 150px;
}

.searchInput {
    margin-right: 20px;
}

.button {
    width: 300px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .searchInput {
        margin-right: 0px;
    }
}

@media screen and (min-width: 801px) {
    .container {
        flex-direction: row;
    }
}

