@import '../../../styles/variables.scss';

.searchResultContainer {
    background-color: $searchResultBackgroundColor;
    margin-bottom: 30px;
    min-width:400px;
    max-width: 600px;
    min-height: 80px;
    max-height: 1000px;
    padding: $searchResultPadding;
}

.searchResultContainer:hover {
    background-color: $searchResultHoverBackgroundColor;
}

.searchResultHighlight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $searchResultFontSize;
    font-weight: 500;
    margin-bottom: 20px;
}

.heading {
    font-size: $searchResultHeadingFontSize;
    margin-bottom: 20px;
}

.name {
    width: 260px;
    margin-right: 20px;
    cursor: pointer;
}

.score {
    width: 20px;
}

.genre {
    width: 300px;
    font-size: $searchResultGenreFontSize;
}

 .overview {
    padding-top: 10px;
    padding-bottom: 10px;
 }