.searchResultContainer {
    background-color: white;
    margin-bottom: 30px;
    width: 400px;
    min-height: 80px;
    max-height: 1000px;
    padding: 10px;
}

.searchResultContainer:hover {
    background-color: aliceblue;
}

.searchResultHighlight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.heading {
    font-size: 18px;
    margin-bottom: 20px;
}

.name {
    width: 260px;
    margin-right: 20px;
    cursor: pointer;
}

.score {
    width: 20px;
}

.genre {
    width: 300px;
    font-size: 12px;
}

.link {
    color:rgb(84, 84, 201);
    text-decoration: underline;
 }

 .overview {
    padding-top: 10px;
    padding-bottom: 10px;
 }