@import '../../../styles/variables.scss';

.button {
    cursor: pointer;
    width: 100%;
    color: $buttonColor;
    background-color: $buttonBackgroundColor;
    font-weight: bold;
    border: none;
    border-radius: 3px;

    &:hover {
        background-color: $buttonHoverBackgroundColor;
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        width: 100%;
        height: $inputHeight;
        background-color: $buttonBackgroundColor;
        padding-left: 10px;
        padding-right: 10px;
        font-size: $inputFontSize;
        font-weight: bold;
        border: none;
        border-radius: 3px;

        &:hover {
            background-color: $buttonHoverBackgroundColor;
        }
    }


    @media screen and (max-width: 800px) {
        .container {
            width: 300px;
        }
    }
}

.small {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        padding: 5px;
    }
}