@import '../../../styles/variables.scss';

.searchBar {
    margin-bottom: 20px;
    position: sticky;
    width: 100%;
    background-color: $searchBarBackgroundColor;
}

.results {
    z-index: 2;
}

.container {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .searchBar {
        height: 200px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .results {
       margin-left: 0;
    }
}

@media screen and (min-width: 801px) {
    .container {
        flex-direction: row;
    }
}

