@import '../../../styles/variables.scss';

.page {
   background-color: $pageBackgroundColor;
   min-height: 100%;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}