$pageBackgroundColor:rgb(233, 233, 232);

$buttonBackgroundColor: rgb(84, 84, 201);
$buttonHoverBackgroundColor: rgb(52, 52, 203);
$buttonColor: azure;

$inputFontSize: 18px;
$inputHeight: 40px;

$searchResultBackgroundColor: white;
$searchResultHoverBackgroundColor:aliceblue;
$searchResultFontSize: 16px;
$searchResultHeadingFontSize: 18px;
$searchResultGenreFontSize: 12px;

$searchBarBackgroundColor: rgb(174, 196, 188);

$wikiResultBackgroundColor: white;

$searchResultPadding: 10px;